<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Anime_Girl_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Anime_Girl_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Anime_Girl_Generator.Properties.Settings>
            <setting name="HairFront" serializeAs="String">
                <value />
            </setting>
            <setting name="HairBack" serializeAs="String">
                <value />
            </setting>
            <setting name="Eyes" serializeAs="String">
                <value />
            </setting>
            <setting name="Face" serializeAs="String">
                <value />
            </setting>
            <setting name="Head" serializeAs="String">
                <value />
            </setting>
            <setting name="Body" serializeAs="String">
                <value />
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="HairColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HairLuminance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EyesColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EyesLuminance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BodyColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BodyLuminance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClothesColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClothesLuminance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
        </Anime_Girl_Generator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Anime_Girl_Generator.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.5</value>
            </setting>
        </Anime_Girl_Generator.Properties.Settings>
    </applicationSettings>
</configuration>